/* mobile device */
@media screen and (max-width:576px) {
    .nav-bar{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
    .tems{
        flex-direction: column;
    }
    .tems-img-continer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .out-future{
        margin-left: 20px;
    }
    .fact-card-session{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 24px;
}

.sponspors-company{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 25px;
}
}
/* medium device */
.lili{
    border-radius: 10px;
}
@media screen and (min-width:576px) and (max-width:992px) {
    .tems{
        flex-direction: column;
    }
    .out-future{
        margin: 50px auto;
    }
    .fact-card-session{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 15px;
    }
    .sponspors-company{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 15px;
    }
}